@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefers-dark;
  exclude: rootscrollgutter;
}
@custom-variant dark (&:where(html[data-theme="dark"] *));
html {
  --color-primary: var(--gnotus-primary);
  --color-secondary: var(--gnotus-secondary);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 12pt;
}
html[data-theme='dark'] {
  --color-primary: var(--gnotus-primary-dark, var(--gnotus-primary));
  --color-secondary: var(--gnotus-secondary-dark, var(--gnotus-secondary));
}
@media (max-width: 600px) {
  html {
    font-size: 10pt;
  }
}

a:focus-visible,
button:focus-visible,
label:has(input[type='file']:focus-visible) {
  outline: 2px solid var(--color-primary);
  outline-offset: 1px;
}
label input[type='file']:focus-visible {
  outline: none;
}
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
select:focus-within {
  outline: 2px solid var(--color-primary);
  outline-offset: 0px;
}
summary:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
