@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefers-dark;
  exclude: rootscrollgutter;
}
@custom-variant dark (&:where(html[data-theme="dark"] *));
html {
  --color-primary: var(--gnotus-primary);
  --color-secondary: var(--gnotus-secondary);
  font-size: 12pt;
}
html[data-theme='dark'] {
  --color-primary: var(--gnotus-primary-dark, var(--gnotus-primary));
  --color-secondary: var(--gnotus-secondary-dark, var(--gnotus-secondary));
}
@media (max-width: 600px) {
  html {
    font-size: 10pt;
  }
}
